<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="Work-entry.html">
<dom-module id="Resume-page">
  <template>
  <style>
    :host {
      display: block;
    }
    .container {
      margin: auto;
      padding: 50px 20px;
      max-width: 820px;
    }

    paper-card {
      padding: 50px;
      width: 100%;
    }
    
    @media(max-width: 700px) {
      paper-card {
        padding: 50px 20px;
      }
      .container {
        padding: 50px 5px;
      }
    }

    paper-card h3 {
      margin-left: 10px;
    }
    paper-card p {
      margin-left: 20px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    paper-card .label {
      display: inline-block;
    }
    paper-card .prelabel {
      margin-bottom: 5px;
      margin-top: 5px;
      display: inline-block;
    }
    h3 a {
      text-decoration: underline;
      color: inherit;
    }
    .awards h3 {
      margin-bottom: 0px;
      margin-left: 10px;
    }
    .awards h4 {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-left: 10px;
      font-size: 10px;
      font-weight: normal;
    }
    .honor {
      font-style: italic;
    }
    paper-card li {
      margin: 5px 0;
    }
    @media (max-width: 500px) {
      Work-entry {
        font-size: 11pt;
      }
      paper-card h3 {
        font-size: 11pt;
      }
      paper-card p {
        font-size: 10pt;
      }
      paper-card li {
        font-size: 10pt;
      }
      paper-card .label {
        font-size: 11pt;
      }
    }
    </style>
    <div class="container">
      <paper-card>
      <div class="content">
      <h2>Education</h2>
      <h3 class="prelabel">Graduate</h3>
      <span class="label"> - University of Southern California (2016)</span><p>M.S. in Computer Science - GPA: 3.87</p>
      <h3 class="prelabel">Undergraduate</h3>
      <span class="label"> - University of Southern California (2016)</span><p>B.S. <span class="honor">Summa Cum Laude</span> in Electrical Engineering, minor in Computer Science - GPA: 3.94</p>
      <h3 class="prelabel">High School</h3>
      <span class="label"> - Redmond High School (2012)</span><p>10 AP classes - GPA: 3.92</p>
      <h2>Work Experience</h2>
      <Work-entry employer="Google" title="Software Engineer" location="Seattle, Washington" start="9/16" end="present">
      </Work-entry>
      <Work-entry employer="USC Viterbi School of Engineering" title="Undergraduate Researcher" location="Los Angeles, California" start="9/15" end="5/16">
      <li>Implemented and explored heuristical solutions to NP hard problems such as set cover and 3-sat</li>
      <li>Implemented and explored algorithmic solutions to Simple Temporal Problems</li>
      </Work-entry>
      <Work-entry employer="Google" title="Software Engineering Intern" location="Mountain View, California" start="6/15" end="8/15">
      <li>Worked with the Experience Centers team to integrate a gaze tracking system into a GigaPixel image viewer for hands-free navigation</li>
      <li>Created a framework for multi-computer animation synchronization</li>
      <li>Worked in and on the Interactive Spaces open source project</li>
      </Work-entry>
      <Work-entry employer="USC Viterbi School of Engineering" title="EE-355 Mentor" location="Los Angeles, California" start="1/15" end="5/15">
      <li>Held office hours to help Electrical Engineering students learn C++</li>
      <li>Wrote scripts to automatically grade programming assignments</li>
      </Work-entry>
      <Work-entry employer="Google" title="Software Engineering Intern" location="Los Angeles, California" start="5/14" end="8/14">
      <li>Worked with the G+ photos team exploring new modes of photo editing interaction</li>
      <li>Implemented research computer vision algorithms in an iOS demonstration</li>
      </Work-entry>
      <Work-entry employer="JPL Caltech" title="Intern" location="Pasadena, California" start="6/13" end="8/13">
      <li>Created a mobile (iOS) application for scientific data retrieval and visualization</li>
      <li>Implemented a RESTfull backend for query and retrieval of image products across client platforms</li>
      </Work-entry>
      <Work-entry employer="JPL Caltech" title="Academic Part Time Software Engineer" location="Pasadena, California" start="10/13" end="5/14">
      <li>Created server side processes that mimic existing desktop applications' functionality for data exploration</li>
      <li>Conducted tradeoff studies for client side vs cloud process balancing</li>
      </Work-entry>
      <Work-entry employer="USC Medcore" title="Mentor" location="Los Angeles, California" start="9/12" end="5/13">
      <li>Tutored LA school distric high school students in the subjects of Sophomore/Junior English, AP Biology, AP Chemistry, AP Physics, and AP Calculus AB</li>
      <li>Presented supplementary lectures on the same subjects</li>
      </Work-entry>
      <Work-entry employer="Sears" title="Cashier" location="Redmond, Washington" start="6/12" end="8/12">
      <li>Rang up customers</li>
      <li>Assisted customers in finding their desired merchandise</li>
      </Work-entry>
      <Work-entry employer="StudentRND" title="Project Leader" location="Bellevue, Washington" start="6/11" end="10/11">
      <li>Coordinated and participated on a team of five high school students in designing and making a 3-axis CNC router</li>
      <li>Coordinated meetings with industry mentors and part suppliers</li>
      </Work-entry>
      <h2>Awards</h2>
      <div class="awards">
        <h3><a href="http://viterbi.usc.edu/students/undergrad/viterbi-departmental-awards.htm">Computer Science Award For Outstanding Research</a></h3>
        <h4>Fall 2016</h4>
        <p>Award given to two graduating CS students who distinguished themselves through their outstanding contributions to research</p>
        <h3>USC Jerome Linn Scholarship</h3>
        <h4>2013/2014, 2014/2015, 2015/2016</h4>
        <p>A monetary award granted to Electrical Engineering students on the basis of academic performance</p>
        <!--3,000 -->
        <h3><a href="https://ahf.usc.edu/awards/achievement/">USC Academic Achievement Award</a></h3>
        <h4>Spring 2013, Fall 2013, Spring 2014, Fall 2014, Spring 2015</h4>
        <p>A supplimentary tuition award granted to students with a high GPA undertaking more that 18 units in the pursuit of a minor or second degree</p>
        <h3><a href="http://viterbi.usc.edu/students/undergrad/deans-list.htm">USC Viterbi Dean's List</a></h3>
        <h4>All eligible semesters (Spring 2013 - Fall 2016)</h4>
        <p>Distinction within the Viterbi School of Engineering based on qualifying GPA of 3.5 or higher</p>
        <h3><a href="http://viterbi.usc.edu/students/undergrad/honors/">USC WVT Rusch Engineering Honors Student</a></h3>
        <h4>Fall 2012 - Spring 2016</h4>
        <p>At least a 3.7 GPA and at least 4 semesters of "Honors Colloquium Lecture" class</p>
        <h3>USC WVT Rusch Engineering Honors Colloquium Moderator</h3>
        <h4>Spring 2016</h4>
        <p>Selected by the program head to moderate the honors colloquim and find half of the speakers for the series</p>
        <h3><a href="http://www.nationalmerit.org/s/1758/interior.aspx?sid=1758&gid=2&pgid=424">National Merit Scholar</a></h3>
        <h4>2012</h4>
        <p>Award and scholarship based on an essay and performance on the PSAT</p>
        <h3><a href="http://apcentral.collegeboard.com/apc/public/score_reports_data/awards/232609.html">National AP Scholar</a></h3>
        <h4>2012</h4>
        <p>Award for high school students who take 8 or more AP tests and score an average of 4 or better</p>
        <h3>Washington State Principals' Scholars Program Award for Academic Excellence</h3>
        <h4>2012</h4>
        <p>Award granted to the top 5% of each senior class in Washington state</p>
        <h3><a href="http://www.aapt.org/physicsteam/2012/upload/2012-Semi-Finalists.pdf">USA Physics Olympiad Semifinalist</a></h3>
        <h4>2012</h4>
        <p>Score of more than 15.5 on the USA Physics Olympiad screening exam</p>
      </div>
    </div>
      </paper-card>
    </div>
  </template>

  <script>
    Polymer({
      is: 'Resume-page',

      properties: {
      },
    });
  </script>
</dom-module>
