<link rel="import" href="../../../bower_components/polymer/polymer.html">
<dom-module id="Work-entry">
  <template>
  <style>
    :host {
      display: block;
      margin-bottom: 10px;
    }
    h3 {
      margin-left: 10px;
    }
    .employer {
      display: inline-block;
      margin: 5px -5px 0 10px;
    }
    .job-title {
      font-weight: normal;
      display: inline-block;
      margin: 5px 0 0 10px;
    }
    .job-location {
      display: block;
      margin: 0 0 5px 10px;
      font-size: 10px;
    }
    ul {
      margin-top: 0;
    }
    </style>
    <h3 class="employer">[[employer]]:</h3><h3 class="job-title">[[title]]</h3><span class="job-location">[[location]] ([[start]] - [[end]])</span>
    <ul>
      <content>
      </content>
    </ul>
  </template>

  <script>
    Polymer({
      is: 'Work-entry',

      properties: {
        employer: {
          type: String,
          value: "Employer",
        },
        title: {
          type: String,
          value: "Title",
        },
        location: {
          type: String,
          value: "Location",
        },
        start: {
          type: String,
          value: "??/??",
        },
        end: {
          type: String,
          value: "??/??",
        },
      },
    });
  </script>
</dom-module>
