<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<dom-module id="Project-elem">
  <template>
    <style>
      :host {
        display: block;
        margin: 10px;
      }
      .container {
        margin: 20px;
      }
      a {
        text-decoration: inherit;
        color: inherit;
      }
      .description {
        display: block;
        margin-bottom: 10px;
        text-align: left;
        font-size: 10pt;
      }
      .snippet {
        display: block;
        margin-bottom:10px;
      }
      .tag {
        background-color: var(--project-elem-tag-background-color);
        color: white;
        margin-left: 5px;
        padding: 3px;
        font-size: 8pt;
        vertical-align: middle;
        border-radius: 2px;
      }
      .tag-list {
        text-align: left;
        line-height: 12px;
        vertical-align: middle;
      }
      .state {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 150px;
        text-align: right;
      }
    </style>
    <a target="_blank" href="[[data.page]]">
      <div class="container">
        <template is="dom-if" if="[[_isComplete(data.state)]]">
          <div class="state">
            <iron-icon style="color:green;" icon="icons:done"></iron-icon>
            <paper-tooltip>Project is complete</paper-tooltip>
          </div>
        </template>
        <template is="dom-if" if="[[!_isComplete(data.state)]]">
          <div class="state">
            <iron-icon style="color:red;" icon="icons:hourglass-empty"></iron-icon>
            <paper-tooltip>Project is a work in progress</paper-tooltip>
          </div>
        </template>
        <h2>[[data.name]]</h2>
        <div class="description"> 
          [[data.description]]
        </div>
        <template is="dom-if" if="[[data.snippet]]">
          <div class="snippet" inner-h-t-m-l="[[data.snippet]]">
          </div>
        </template>
        <template is="dom-if" if="[[data.tags.length]]">
          <div class="tag-list">
            <span>tags:</span>
            <template is="dom-repeat" items="[[data.tags]]">
              <a href="/projects/[[item]]"><span class="tag">[[item]]</span></a>
            </template>
          </div>
        </template>
      </div>
    </a>
  </template>

  <script>
    Polymer({

      is: 'Project-elem',

      properties: {
        selected: {
          type: Boolean,
          value: false,
        },
        data: {
          type: Object,
          value: {},
        }
      },
      _isComplete: function(s) {
        return s == "complete";
      }
    });
  </script>
</dom-module>
