<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="Project-elem.html">

<dom-module id="Projects-page">
  <template>
  <style>
    :host {
      height: 100%;
    }
    paper-fab {
      z-index: 10;
      --paper-fab-background: var(--paper-light-blue-500);
      --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
      top:10px;
      left:10px;
      height: 50px;
      width: 50px;
    }

    paper-drawer-panel {
      position:relative;
      top:0;
      left:0;
      height: calc(100vh - 48px);
      background-color: transparent;
      --paper-drawer-panel-drawer-container: {
        background-color: var(--paper-cyan-700);
        z-index: 100;
      }
    }
    .dock {
      z-index: 10;
      height: 50px;
      position: fixed;
    }
    #project-content {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -ms-overflow-style: none;
    }
    #project-content::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
    .menu_content {
      color: #fff;
    }
    paper-dropdown-menu {
      --paper-input-container-label: {
        color: white;
      }
      --paper-input-container-input: {
        color: white;
      }
      --paper-input-container-underline: {
        background-color: white;
      }
      --paper-dropdown-menu-icon: {
        color: white;
      }
      color: white;
      width: 210px;
    }
    paper-menu {
      width: 210px;
    }
    paper-icon-button {
      margin: 0 -10px;
      font-size: 10px;
    }
    h2 {
      font-family: 'Roboto', 'Noto', sans-serif;
      font-weight: normal;
      margin-bottom: 50px;
    }
    paper-checkbox {
      margin: auto;
      margin-top: 30px;
      --paper-checkbox-label-color: white;
      --paper-checkbox-unchecked-color: white;
    }
    .project-container {
      max-width: 700px;
      width: 100%;
      margin: auto;
    }
    .project {
      font-family: 'Roboto', 'Noto', sans-serif;
      color: black;
      margin: 20px;
      background-color: white;
      padding:1px;
    }
    a {
      text-decoration: underline;
      color: blue;
    }
    Project-elem {
      --project-elem-tag-background-color: var(--paper-cyan-700);
    }
  </style>
  <paper-drawer-panel id="menu">
    <div drawer>
      <div class="menu_content">
        <h2>Filter Projects</h2>
        <paper-dropdown-menu value="{{category}}" label="Category">
          <paper-menu id="tag-menu" class="dropdown-content">
            <template is="dom-repeat" items="[[_tags]]">
              <paper-item>[[item]]</paper-item>
            </template>
          </paper-menu>
          </paper-dropdown-menu>
          <paper-icon-button on-click="_clearCats" icon="icons:cancel"></paper-icon-button>
          <br style="clear:both;"/>
          <paper-checkbox checked="{{showip}}">Show in progress</paper-checkbox>
      </div>
    </div>
    <div main>
      <div id="project-content">
        <div class="dock">
          <paper-fab paper-drawer-toggle noink icon="icons:menu"></paper-fab>
        </div>
        <template is="dom-repeat" items="[[projects]]">
          <div class="project-container">
            <paper-material class="project" elevation="1"> 
              <Project-elem data="[[item]]"></Project-elem>
            </paper-material>
          </div>
        </template>
        <template is="dom-if" if="[[!projects.length]]">
          <div class="project-container"> 
            <paper-material class="project" elevation="1">
              <h1>No results</h1>
              <p>no projects match the category and filter parameters selected.
              <a href="/projects/">Try widening your search</a>
              </p>
            </paper-material>
          </div>
        </template>
      </div>
    </div>
  </paper-drawer-panel>
  <iron-ajax
    auto
    url="[[src]]"
    params="[[_computeParams(state,category)]]"
    method="GET"
    handle-as="json"
    on-response="_dataHandler"
    debounce-duration="100">
  </iron-ajax>
  <iron-ajax
    auto
    url="/server/tag_list.php"
    method="GET"
    handle-as"json"
    on-response="_tagPopulate">
  </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'Projects-page',
      ready: function() {
        var mark = document.getElementById("tabs");
        var parent = mark.parentNode;
        var injection = document.createElement('div');
        injection.style.width = "100%";
        injection.style.height = "0";
        parent.replaceChild(injection, mark);
        injection.appendChild(mark);
        var menu = document.getElementById("menu");
        menu.style.top = mark.style.height;
        injection.appendChild(menu);
        var head = document.querySelector('app-header');
        var p = this;
        window.addEventListener('scroll', function() {
          p.set('scrolled', head.getScrollState().progress == 1);
        });
      },
      properties: {
        category: {
          type: String,
          value: "",
          observer: "_categoryChange",
        },
        state: {
          type: String,
          value: "",
          reflect: true,
        },
        showip: {
          type: Boolean,
          value: true,
          reflect: true,
          observer: "_checkChange",
        },
        src: {
          type: String,
          value: "/server/project_db.php",
          reflect: true,
        },
        scrolled: {
          type: Boolean,
          value: false,
          reflect: true,
          observer: "_scrollTarget",
        },
        projects: {
          type: Array,
          value: [],
          reflect: true,
        },
      },

      _scrollTarget: function() {
        document.getElementById('project-content').style.overflow = this.get('scrolled') ? 'scroll' : 'hidden';
      },

      _checkChange: function(ne, old) {
        if (!ne) {
          this.set("state", "complete");
        } else {
          this.set("state", null);
        }
      },

      _categoryChange: function(ne, old) {
        console.log("category set to: " + ne);
        this._setDropDown(ne);
      },

      _setDropDown: function(val) {
        var elm = document.getElementById('tag-menu');
        console.log("current: " + elm.selected);
        var ary = this._tags;
        var idx = -1;
        if (ary) {
          idx = ary.indexOf(val);
        }
        if (idx != -1) {
          elm.selected = idx;
          } else {
          elm.selected = null;
        }
      },

      _computeParams: function(state, category) {
        var ret = {};
        if (state && state != "") {
          ret.state = state;
        }
        if (category && category != "") {
          ret.tag = category;
        }
        return ret;
      },
      _dataHandler: function(event, data) {
        this.set("projects", data.xhr.response);
        console.log(data.xhr.responseURL);
      },
      _tagPopulate: function(event, data) {
        this.set("_tags", data.xhr.response);
        this._setDropDown(this.get("category"));
      },
      _clearCats: function() {
        document.getElementById('tag-menu').selected = null;
      },

    });
  </script>
</dom-module>
