<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<dom-module id="Website-app">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
      }
      app-header {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:300px;
        background-color: #3f51b5;
        z-index: 10;
        color:#fff;
        text-align: center;
        --app-header-background-front-layer: {
          background-image: url(../../resources/header2.jpg);
          background-position: left center;
        };
        --app-header-background-rear-layer: {
          background-color: var(--paper-teal-700);
        };
      }
      paper-tabs {
        margin-top:-48px;
      }
      paper-tab {
        width: 25%;
      }
      iron-pages {
        height: 100%;
        padding-top: 300px;
        z-index:0;
      }
      .page {
        min-height: 100%;
        width:100%; 
        margin: 0;
        background-color: var(--paper-blue-50);
        background-color: var(--paper-green-100);
      }
      h1 {
        color: white;
        @apply(--paper-font-title);
        font-size: 50px;
        line-height: 75px;
        width:100%;
        text-shadow: 0 1px 0 #ccc, 
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      }
      app-toolbar {
        height: 300px;
        width: 100%;
        padding: 0;
      }
      a {
        text-decoration: inherit;
        color: inherit;
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" data="{{routeData}}" pattern="/:tab" tail="{{subRoute}}"></app-route>
    <app-route route="{{subRoute}}" data="{{subData}}" pattern="/:extra" tail="{{subRoute}}"></app-route>
    <app-header fixed condenses effects="waterfall blend-background parallax-background">
      <app-toolbar>
      <h1><a href="/">Nolan Miller</a></h1>
      </app-toolbar>
      <paper-tabs id="tabs" selected="[[routeData.tab]]" attr-for-selected="name" sticky>
      <paper-tab link name="interests"> <a href="/interests">Interests</a></paper-tab>
      <paper-tab link name="projects"> <a href="/projects/">Projects</a></paper-tab>
      <paper-tab link name="github"> <a href="/github">GitHub</a></paper-tab>
      <paper-tab link name="resume"> <a href="/resume">Resume</a></paper-tab>
      </paper-tabs>
    </app-header>
    <iron-pages attr-for-selected="name" selected="[[routeData.tab]]"> 
      <div name="interests" class="page page0">
        <Interests-page></Interests-page>
      </div>
      <div name="projects" class="page page1"> 
        <Projects-page category="[[subData.extra]]"></Projects-page> 
      </div>
      <div name="github" class="page page2" style="padding-bottom:32px;">
        <GitHub-page></GitHub-page>
      </div>
      <div name="resume" class="page page3">
        <Resume-page></Resume-page>
      </div>
      <div name="">
        <Landing-page></Landing-page>
      </div>
      </iron-pages>
  </template>

  <script>
    Polymer({
      is: 'Website-app',
      
      properties: {
        routeData: {
          type: Object,
          value: {},
          reflect: true
        },
      },

      observers: [
      '_routeChange(routeData.tab)',
      ],
      
      _routeChange: function(t) {
        rem = document.getElementById('menu');
        if (rem) {
          rem.style.display="none";
        }
        switch(t) {
          case 'interests':
          this.importHref(this.resolveUrl("Interests-page/Interests-page.html"));
          break;
          case 'projects':
          this.importHref(this.resolveUrl("Projects-page/Projects-page.html"));
          if (rem) {
            rem.style.display="block";
          }
          break;
          case 'github':
          this.importHref(this.resolveUrl("GitHub-page/GitHub-page.html"));
          break;
          case 'resume':
          this.importHref(this.resolveUrl("Resume-page/Resume-page.html"));
          break;
          default:
          this.routeData.tab = '';
          this.importHref(this.resolveUrl("Landing-page/Landing-page.html"));
          break;
        }
      }

    });
  </script>
</dom-module>
