<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/git-list/git-list.html">
<dom-module id="GitHub-page">
  <template>
  <style >
     :host {
        display: block;
        background-color: transparent;
      }
    </style>
     <div style="max-width:500px; margin: auto; padding: 0 20px;">
       <git-list user="namiller"></git-list>
     </div>
  </template>

  <script>
    Polymer({
      is: 'GitHub-page',
    });
  </script>
</dom-module>
