<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="Interest-elem">
  <template>
    <style>
      :host {
        display: block;
        margin: 10px;
      }
      paper-card {
      }
      .more-info {
        display: inline-block;
        position: absolute;
        z-index: 1;
        background: white;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
      }
      .more-info:hover {
        opacity: .7;
      }
      .container {
        position: relative;
      }
      h1 {
        @apply(--paper-font-display1);
        margin: 10px;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
    </style>
    <a href="/projects/[[data.category]]">
      <div class="container">
        <div class="more-info">
          <h1>
            [[data.rollover]]
          </h1>
        </div>
        <paper-card image="[[data.image]]">
        <div class="card-content">
          [[data.title]]
        </div>
        </paper-card>
      </div>
    </a>
  </template>

  <script>
    Polymer({

      is: 'Interest-elem',

      properties: {
        selected: {
          type: Boolean,
          value: false,
        },
        data: {
          type: Object,
          value: {},
        }
      },
    });
  </script>
</dom-module>
