<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="Interest-elem.html">
<dom-module id="Interests-page">
  <template>
  <style include="iron-flex">
     :host {
        display: block;
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-center-justified);
        background-color: transparent;
        padding: 20px;
      }
      .elm-cont {
        width:33.3%;
      }
      Interest-elem {
      }
      @media(max-width: 1000px) {
        .elm-cont {
          width:50%;
        }
      }
      @media(max-width: 500px) {
        .elm-cont {
          width:100%;
        }
      }
    </style>
    <template is="dom-repeat" items="[[interests]]">
      <div class="elm-cont">
        <Interest-elem data="{{item}}"></Interest-elem>
      </div>
    </template>
    <iron-ajax
      auto
      url="[[src]]"
      method="GET"
      handle-as="json"
      on-response="_dataHandler"
    >
    </iron-ajax>
  </template>

  <script>
    Polymer({

      ready: function() {
        console.log("interests loaded");
      },

      is: 'Interests-page',

      properties: {
        selected: {
          type: Number,
          value: 0,
        },
        src: {
          type: String,
          value: "resources/interests.json",
        },
        interests: {
          type: Array,
          value: [],
          reflect: true,
        },
      },
      _dataHandler: function(event, data) {
        console.log(this.get('src'))
        console.log(data.xhr.response);
        this.set("interests", data.xhr.response);
      },
    });
  </script>
</dom-module>
