<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-styles/color.html">
<dom-module id="Landing-page">
  <template>
  <style >
    :host {
      position: relative;
        display: block;
        background-color: transparent;
      }
      .top-marks {
        width: 100%;
        height: 20px;
      }
      .marker {
        width: 25%;
        height: 100%;
        float:left;
      }
      .node {
        width: 12px;
        height: 12px;
        margin: 5px auto;
        z-index:10;
      }
      .circle {
        border-radius: 50%;
      }
      .notch {
        width: 5px;
        height: 13px;
        margin: -6px auto;
        z-index: 9;
      }
      .notch2 {
        height: 22px
      }
      .notch3 {
        height: 31px
      }
      .notch4 {
        height: 40px
      }
      .red {
        background-color: var(--paper-blue-500);
        border-color: var(--paper-blue-500);
      }
      .blue {
        background-color: var(--paper-red-500);
        border-color: var(--paper-red-500);
      }
      .green {
        background-color: var(--paper-yellow-500);
        border-color: var(--paper-yellow-500);
      }
      .yellow {
        background-color: var(--paper-green-500);
        border-color: var(--paper-green-500);
      }
      .r-line {
        position: absolute;
        left: 0;
        height: 50px;
        width: 30px;
        background-color: white;
        border-left-width: 5px;
        border-left-style: solid;
        border-top-width: 5px;
        border-top-style: solid;
        margin-left: 4px;
        margin-top: 4px;
      }
      .h-lines {
        position: absolute;
        left: 4px;
        width: 100%;
        top: 15px;
      }
      .h-line {
        position: absolute;
        left: 0;
        top: 0;
        width: 12%;
        width: calc(12.5% - 8px);
        background-color: transparent;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-right-width: 5px;
        border-right-style: solid;
        margin-top: 9px;
      }
      .h-line:nth-of-type(2) {
        top:9px;
        width: calc(37.5% - 8px);
      }
      .h-line:nth-of-type(3) {
        top:18px;
        width: calc(62.5% - 8px);
      }
      .h-line:nth-of-type(4) {
        top:27px;
        width: calc(87.5% - 8px);
      }
      .content {
        margin-top: 50px;
        width: 100%;
      }
      .frame {
        position: relative;
        overflow: hidden;
        height: auto;
        width: 100%;
      }
      .v-line {
        position: absolute;
        left: 0;
        margin-left: 4px;
        width:5px;
        height: 100%;
      }
      .v-line:nth-of-type(2) {
        left: 9px;
      }
      .v-line:nth-of-type(3) {
        left: 18px;
      }
      .v-line:nth-of-type(4) {
        left: 27px;
      }
      .half {
        height: 50%;
      }
      .hide {
        height: 0;
      }
      .blurb-text {
        @apply(--paper-font-body2);
      }
      .blurb-frame {
        position: relative;
        left: 85px;
        width: calc(100% - 170px);
        margin: 10px;
      }
      .blurb-line {
        position: absolute;
        top: 50%;
        height: 5px;
        margin-top: -2.5px;
        left: 4px;
        width: 70px;
        z-index: 4;
      }
      .enode {
        position: absolute;
        top:50%;
        left: 72px;
        margin-top: -6px;
        height: 12px;
        width: 12px;
      }
      .h2nd {
        width: 61px;
        left: 13px;
      }
      .h3rd {
        width: 52px;
        left: 22px;
      }
      .h4th {
        width: 43px;
        left: 31px;
      }
    </style>
    <div class="top-marks">
      <div class="marker">
        <div class="node red"></div>
        <div class="notch red"></div>
      </div>
      <div class="marker">
        <div class="node blue"></div>
        <div class="notch notch2 blue"></div>
      </div>
      <div class="marker">
        <div class="node yellow"></div>
        <div class="notch notch3 yellow"></div>
      </div>
      <div class="marker">
        <div class="node green"></div>
        <div class="notch notch4 green"></div>
      </div>
    </div>
    <div class="h-lines">
      <div class="h-line red">
      </div>
      <div class="h-line blue">
      </div>
      <div class="h-line yellow">
      </div>
      <div class="h-line green">
      </div>
    </div>
    <div class="r-line red">
      <div class="r-line blue">
        <div class="r-line yellow">
          <div class="r-line green">
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="frame">
        <div class="red v-line half"></div>
        <div class="blue v-line"></div>
        <div class="yellow v-line"></div>
        <div class="green v-line"></div>
        <div class="red blurb-line"></div>
        <div class="red circle enode"></div>
        <div class="blurb-frame">
          <div class="blurb">
          <span class="blurb-text">
            A list of subjects that I find particularly interesting. My projects are categorized by these disciplines.
          </span>
          </div>
        </div>
      </div>
      <div class="frame">
        <div class="red v-line hide"></div>
        <div class="blue v-line half"></div>
        <div class="yellow v-line"></div>
        <div class="green v-line"></div>
        <div class="blue blurb-line h2nd"></div>
        <div class="blue circle enode"></div>
        <div class="blurb-frame">
          <span class="blurb-text">
          A short list of some of my favorite personal projects. The code is available in the linked GitHub repositories, but these include a more in depth writeup of the project and any associated hardware requirements.
          </span>
        </div>
      </div>
      <div class="frame">
        <div class="red v-line hide"></div>
        <div class="blue v-line hide"></div>
        <div class="yellow v-line half"></div>
        <div class="green v-line"></div>
        <div class="yellow blurb-line h3rd"></div>
        <div class="yellow circle enode"></div>
        <div class="blurb-frame">
          <span class="blurb-text">
          An automatically generated list of my GitHub public repositories. The list is generated by a custom Polymer element (which is listed in its own list as gitlist-element -- how meta...). 
          </span>
        </div>
      </div>
      <div class="frame">
        <div class="red v-line hide"></div>
        <div class="blue v-line hide"></div>
        <div class="yellow v-line hide"></div>
        <div class="green v-line half"></div>
        <div class="green blurb-line h4th"></div>
        <div class="green circle enode"></div>
        <div class="blurb-frame">
          <span class="blurb-text">
            More information about me - Educational background, work history etc 
          </span>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'Landing-page',

      properties: {
      },
    });
  </script>
</dom-module>
